html {
    font-family: 'Merriweather', serif;
}

body {
    height: 100vh;
    padding-top: 5%;
}

#addplayerbtn {
    font-size: 1.1em;
    background: linear-gradient(45deg, #eaf3f3, #abbbbd);
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgb(221, 214, 214);
    transition: .3s;
}

#addplayerbtn:hover {

    box-shadow: 5px 5px 5px rgb(221, 214, 214);
}

#nameinput {
    margin-left: 5%;
    font-size: 1.1em;
    box-shadow: 3px 3px 5px rgb(221, 214, 214);
}

button {
    border-radius: 5px;
}

#nameinput {

    border-radius: 3px
}

.container {
    margin-top: 2rem;
}


h1 {
    text-align: center;
    text-shadow: 3px 3px 5px rgb(221, 214, 214);
}

form {
    text-align: center;
}

#scoreboard {

    width: 80%;
    padding: 1em 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
    margin: 0 auto;

}

.playercard {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(45deg, #374e94, #4e70ab);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(145, 142, 142);
}

.main-header {
    display: flex;
    justify-content: center;
}

.main-header img {
    width: 100px;
}

.nameHeader {
    height: 1em;
    padding-top: 0;
}

@media (max-width: 800px) {
    #scoreboard {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0;
        padding: 0 0;
    }

    .playercard {
        width: 100%;
        margin: 10px 0;
    }
}


#restartButton {
    margin-top: 2em;
    padding: .5em;
}

.gameOverText {
    display: block;
    background-color: green;
    text-align: center;
}

.isWinning {
    background: linear-gradient(45deg, #54b770, #2c970e);
}

h3 {
    text-align: center;
}



.column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgb(112, 110, 110);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 5px;
    background-color: white;
    color: black;
}

.column {}